Flask==3.0.3
Flask-SQLAlchemy==3.1.1
Flask-Login==0.6.3
Flask-Migrate==4.0.7
Flask-WTF==1.2.1
SQLAlchemy==2.0.35
psycopg[binary]==3.3.4
bcrypt==4.0.1
python-dotenv==1.0.1
pydantic==2.9.2
APScheduler==3.10.4
gunicorn==23.0.0
qrcode[pil]==8.2
Pillow==12.3.0
